<div class="row">
  <div class="hand col-md-6">
    <div class="auction">
      <h3>Your partner opened auction: <strong>{{model.auction}}</strong></h3>
    </div>

    <div class="cards">
      {{#each card in model.hand.cards}}
        {{view "card-view" cardBinding=card}}
      {{/each}}
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Dummy points: <strong>{{model.dummy}}</strong></div>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge">{{model.hand.starter}}</span>
          Starter points
          {{#view "popover-view"}}
            <button class="btn btn-xs" title="Honor Card Points" data-trigger="hover" data-html="data-html" data-content="{{partial 'hcp-description'}}">info</button>
          {{/view}}
        </li>
        <li class="list-group-item">
          <span class="badge">{{model.shortSuits}}</span>
          Short suits
          {{#view "popover-view"}}
            <button class="btn btn-xs" data-trigger="hover" data-html="data-html" data-content="{{partial 'adjust3-description'}}">info</button>
          {{/view}}
        </li>
      </ul>
      <div class="panel-footer"><small>Hover or press "info" button to see description</small></div>
    </div>
  </div>
</div>

<div class="row next-hand">
  <div class="col-md-12">
    {{#link-to "dummy-index" classNames="btn btn-primary btn-lg"}}Next hand{{/link-to}}
  </div>
</div>
