<div class="row">
  <div class="hand col-md-6">
    <div class="auction">
      <h3>Your partner opened auction: <strong>{{view "bid-view" content=bid}}</strong></h3>
    </div>

    <div class="cards">
      {{#each card in hand.cards}}
        {{view "card-view" card=card}}
      {{/each}}
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Dummy points: <strong>{{dummy}}</strong></div>
      <ul class="list-group instructions">
        <li class="list-group-item">
          <span class="badge">{{hand.starter}}</span>
          Starter points
          {{#bootstrap-popover}}
            {{partial "description/starter"}}
          {{/bootstrap-popover}}
        </li>
        <li class="list-group-item">
          <span class="badge">{{shortSuits}}</span>
          Short suits
          {{#bootstrap-popover}}
            {{partial "description/short"}}
          {{/bootstrap-popover}}
        </li>
      </ul>
      <div class="panel-footer"><small>Hover or press "info" button to see description</small></div>
    </div>
  </div>
</div>

<div class="row next-hand">
  <div class="col-md-12">
    {{link-to "Next hand" "dummy-index" classNames="btn btn-primary btn-lg"}}
  </div>
</div>
