<div class="row">
  <div class="hand col-md-6">
    <div class="cards">
      {{#each card in model.cards}}
        {{view "card-view" cardBinding=card}}
      {{/each}}
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Starter points: <strong>{{model.starter}}</strong></div>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge">{{model.hcp}}</span>
          HCP
          {{#view "popover-view"}}
            <button class="btn btn-xs" title="Honor Card Points" data-trigger="hover" data-html="data-html" data-content="{{partial 'hcp-description'}}">info</button>
          {{/view}}
        </li>
        <li class="list-group-item">
          <span class="badge">{{model.adjust3}}</span>
          Adjust-3
          {{#view "popover-view"}}
            <button class="btn btn-xs" data-trigger="hover" data-html="data-html" data-content="{{partial 'adjust3-description'}}">info</button>
          {{/view}}
        </li>
        <li class="list-group-item">
          <span class="badge">{{model.dubious}}</span>
          Dubious card combinations
          {{#view "popover-view"}}
            <button class="btn btn-xs" data-trigger="hover" data-html="data-html" data-content="{{partial 'dubious-description'}}">info</button>
          {{/view}}
        </li>
        <li class="list-group-item">
          <span class="badge">{{model.qualitySuit}}</span>
          Quality suits
          {{#view "popover-view"}}
            <button class="btn btn-xs" data-trigger="hover" data-html="data-html" data-content="{{partial 'quality-description'}}">info</button>
          {{/view}}
        </li>
        <li class="list-group-item">
          <span class="badge">{{model.longSuit}}</span>
          Long suits
          {{#view "popover-view"}}
            <button class="btn btn-xs" data-trigger="hover" data-html="data-html" data-content="{{partial 'long-description'}}">info</button>
          {{/view}}
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row next-hand">
  <div class="col-md-12">
    <a class="btn btn-primary btn-lg" href="#">Next hand</a>
  </div>
</div>
