<div class="row">
  <div class="hand col-md-6">
    <div class="cards">
      {{#each card in model.cards}}
        {{view "card-view" cardBinding=card}}
      {{/each}}
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Starter points: <strong>{{model.starter}}</strong></div>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge">{{model.hcp}}</span>
          HCP
          {{#view "popover-view"}}
            <button class="btn btn-xs" title="Honor Card Points" data-trigger="hover" data-html="data-html" data-content="{{partial 'description/hcp'}}">info</button>
          {{/view}}
        </li>
        <li class="list-group-item">
          <span class="badge">{{model.adjust3}}</span>
          Adjust-3
          {{#view "popover-view"}}
            <button class="btn btn-xs" data-trigger="hover" data-html="data-html" data-content="{{partial 'description/adjust3'}}">info</button>
          {{/view}}
        </li>
        <li class="list-group-item">
          <span class="badge">{{model.dubious}}</span>
          Dubious card combinations
          {{#view "popover-view"}}
            <button class="btn btn-xs" data-trigger="hover" data-html="data-html" data-content="{{partial 'description/dubious'}}">info</button>
          {{/view}}
        </li>
        <li class="list-group-item">
          <span class="badge">{{model.qualitySuit}}</span>
          Quality suits
          {{#view "popover-view"}}
            <button class="btn btn-xs" data-trigger="hover" data-html="data-html" data-content="{{partial 'description/quality'}}">info</button>
          {{/view}}
        </li>
        <li class="list-group-item">
          <span class="badge">{{model.longSuit}}</span>
          Long suits
          {{#view "popover-view"}}
            <button class="btn btn-xs" data-trigger="hover" data-html="data-html" data-content="{{partial 'description/long'}}">info</button>
          {{/view}}
        </li>
      </ul>
      <div class="panel-footer"><small>Hover or press "info" button to see description</small></div>
    </div>
  </div>
</div>

<div class="row next-hand">
  <div class="col-md-12">
    {{#link-to "index" classNames="btn btn-primary btn-lg"}}Next hand{{/link-to}}
  </div>
</div>
