<div class="row">
  <div class="hand col-md-6">
    <div class="cards">
      {{#each card in cards}}
        {{view "card-view" card=card}}
      {{/each}}
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Starter points: <strong>{{starter}}</strong></div>
      <ul class="list-group instructions">
        <li class="list-group-item">
          <span class="badge">{{hcp}}</span>
          HCP
          {{#bootstrap-popover title="Honor Card Points"}}
            {{partial "description/hcp"}}
          {{/bootstrap-popover}}
        </li>
        <li class="list-group-item">
          <span class="badge">{{adjust3}}</span>
          Adjust-3
          {{#bootstrap-popover}}
            {{partial "description/adjust3"}}
          {{/bootstrap-popover}}
        </li>
        <li class="list-group-item">
          <span class="badge">{{dubious}}</span>
          Dubious card combinations
          {{#bootstrap-popover}}
            {{partial "description/dubious"}}
          {{/bootstrap-popover}}
        </li>
        <li class="list-group-item">
          <span class="badge">{{qualitySuit}}</span>
          Quality suits
          {{#bootstrap-popover}}
            {{partial "description/quality"}}
          {{/bootstrap-popover}}
        </li>
        <li class="list-group-item">
          <span class="badge">{{longSuit}}</span>
          Long suits
          {{#bootstrap-popover}}
            {{partial "description/long"}}
          {{/bootstrap-popover}}
        </li>
      </ul>
      <div class="panel-footer"><small>Hover or press "info" button to see description</small></div>
    </div>
  </div>
</div>

<div class="row next-hand">
  <div class="col-md-12">
    {{link-to "Next hand" "index" classNames="btn btn-primary btn-lg"}}
  </div>
</div>
